// Font Family
$font_body: 'Roboto', sans-serif;
$font_heading: 'Barlow', sans-serif;

// Default Color
$color_white: #ffffff;
$color_black: #000000;
$color_body: #29281E;
$color_dark: #1F1D0D;
$color_light: #F6F6F6;
$color_border: #D2D2D2;
$color_primary: #F7FF62;
$color_warning: #FFD32B;

// Border Transition
$border_radius: 8px;

// Default Transition
$transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);