/* 2.2 - CSS Animation - Start
================================================== */
@keyframes dropDown {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* 2.2 - CSS Animation - End
================================================== */