/* 2.16 - Counter - Start
================================================== */
.counter_item {
	padding: 0 34px 24px 0;
	border-bottom: 1px solid $color_border;
	.counter_value {
		font-size: 65px;
		font-weight: 800;
		line-height: 68px;
		margin-bottom: 10px;
	}
	p {
		font-size: 16px;
		line-height: 24px;
	}
}

.counter_section.bg_primary {
	.counter_item {
		border-bottom: 1px solid $color_body;
	}
}
/* 2.16 - Counter - End
================================================== */