/* 2.10 - Image - Start
================================================== */
.image_widget {
	overflow: hidden;
	border-radius: 8px;
	position: relative;
	box-shadow: -20px 20px 0 0 $color_warning;
}
/* 2.10 - Image - End
================================================== */