/* 2.17 - Rating Star - Start
================================================== */
.rating_wrap {
  display: flex;
  align-items: center;
  .review_counter {
    font-size: 12px;
    margin-left: 5px;
  }
}
.rating_star {
  li {
    line-height: 1;
    font-size: 12px;
    &:not(:last-child) {
      margin-right: 2px;
    }
    &.active {
      color: #FFDA47;
    }
  }
}
/* 2.17 - Rating Star - End
================================================== */