/* 2.5 - Spaces or Gaps - Start
================================================== */
.section_space_lg {
	padding-top: 120px;
	padding-bottom: 120px;
}
.section_space_md {
	padding-top: 70px;
	padding-bottom: 70px;
}
/* 2.5 - Spaces or Gaps - End
================================================== */